Q1. Create one variable containing following type of data:

In [1]:
#String
my_string = "Welcome to PWskills"

In [5]:
my_string

'Welcome to PWskills'

In [20]:
#list
s1 = [1,2,"shubham",'kumar',6,7, 4.5]

In [18]:
s1

[1, 2, 'shubham', 'kumar', 6, 7, 4.5]

In [21]:
#float
d = 5.66

In [22]:
d

5.66

In [23]:
#tuple
t = [10,30, 40]

In [25]:
t

[10, 30, 40]

Q2. Given are some following variables containing data:

In [26]:
var1 = ''
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1.

In [29]:
type(var1), type(var2), type(var3), type(var4)

(str, str, list, float)

Q3. Explain the use of the following operators using an example:

In [31]:
#/ :-Division operator performs division between two numbers 
a = 11
b = 3
ans = a / b
print(ans)

# % :-  modulo operator calculates the remainder
a = 20
b = 3
ans = a % b
print(ans)


#// :-  floor division operator performs division and returns the quotient

a = 20
b = 6
ans = a // b
print(ans)

#** :- Exponentiation operator raises a number to a specified power.

a = 5
b = 3
ans = a ** b
print(ans)

3.6666666666666665
2
3
125

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [36]:
l = [1,2,3,"shubham","Kumar" , 23.45, True]
for i in l:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'bool'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [1]:
a = 40
b = 2

count = 0
while a % b == 0:
    a = a // b
    count += 1

print(count)

3

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [3]:
l = [11, 12, 15, 9, 12, 21, 20, 18, 5, 27, 8, 33, 14, 23, 25, 6, 19, 36, 16, 30, 13, 24, 4, 31, 28]

for i in l:
    if i % 3 == 0:
        print( "divisible by 3.")
    else:
        print("not divisible by 3.")

not divisible by 3.
divisible by 3.
divisible by 3.
divisible by 3.
divisible by 3.
divisible by 3.
not divisible by 3.
divisible by 3.
not divisible by 3.
divisible by 3.
not divisible by 3.
divisible by 3.
not divisible by 3.
not divisible by 3.
not divisible by 3.
divisible by 3.
not divisible by 3.
divisible by 3.
not divisible by 3.
divisible by 3.
not divisible by 3.
divisible by 3.
not divisible by 3.
not divisible by 3.
not divisible by 3.

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [8]:
'''Immutable data types are those whose values cannot be modified after they are created. 
it typically returns a new object rather than modifying the existing one'''
s1 = "pwskills"
s2 = s.upper()
print(s1)
print(s2)

pwskills
PWSKILLS

In [9]:
#Mutable data types, in contrast, allow their values to be modified after they are created

L1 = [1, 2, 3]
L1.append(4)
print(L1)

L2 = L1
L2[0] = 10
print(L1)

[1, 2, 3, 4]
[10, 2, 3, 4]